In [ ]:
import pandas as pd
import numpy as np
d=np.array(['a','b','c','d'])
s=pd.Series(d)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
d=np.array(['a','b','c','d'])
s = pd.Series(d,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
d={'a':0.,'b':1.,'c':2.};
s=pd.Series(d)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
d={'a':0.,'b':1.,'c':2.};
s=pd.Series(d,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
#retrive elements from internal indexing
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])

1

In [ ]:
#retrive elements from external indexing
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['b'])

2

In [ ]:
#retrive using slicing
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[['b','d','a']])

b    2
d    4
a    1
dtype: int64

create an integer list, convert into series assign string labels to the data elements , and assign float dtype to it.

In [ ]:
l=[3,5,7,9]
s=pd.Series(l,index=['a','b','c','d'],dtype=float)
print(s)

a    3.0
b    5.0
c    7.0
d    9.0
dtype: float64

**DataFrames**

In [ ]:
#empty DataFrame
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
l=[1,2,3,4,5]
df=pd.DataFrame(l)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

<ipython-input-23-3dca126ae7af>:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)

In [ ]:
data={'Name':['Tom','Kushwanth','Rahul','Abhi'],'Age':[28,90,80,101]}
df=pd.DataFrame(data,index=['rank1',])

DataFrame from list of dictionaries

In [ ]:
import pandas as pd
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
import pandas as pd
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data,index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [ ]:
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df1=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
df2=pd.DataFrame(data,index=['first','second'],columns=['a','b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print("Adding a new column by passing as series")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("Addding a new column using existing columns in DataFrame")
df["four"]=df['one']+df['two']
print(df)

Adding a new column by passing as series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Addding a new column using existing columns in DataFrame
   one  two  three  four
a  1.0    1   10.0   2.0
b  2.0    2   20.0   4.0
c  3.0    3   30.0   6.0
d  NaN    4    NaN   NaN

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'three':pd.Series([10,20,30],index=['a','b','c'])}
print("Our DataFrame is: ")
df=pd.DataFrame(d)
print(df)
print("Deleting other column using the del method ")
del(df['one'])
print(df)
print("Deleting other column using the pop method")
df.pop('two')
print(df)

Our DataFrame is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting other column using the del method
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting other column using the pop method
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [ ]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df=df.append(df2)
print(df)


print("Deleting rows with index 0: ")
df=df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
Deleting rows with index 0:
   a  b
1  3  4
1  7  8

<ipython-input-22-ca46c6173f36>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df2)

In [ ]:
import pandas as pd
df=pd.read_csv("/content/advertising.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
df.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
df.shape

(200, 4)

In [ ]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [ ]:
df['TV']

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64